.headermenu{
    width:100vw;
    background-color: white;
}
.headermenu__menu{
    display:flex;
    justify-content:space-between;
    list-style-type: none;
    align-items:center;
}
.headermenu__menuitems{
    display:flex;
    justify-content:flex-end;
    margin-right: 80px;
    list-style-type: none;
    align-items:center;
}
.headermenu__menulogo{
    margin-left:20px;
}
.headermenu__menulogin{
    background-color: rgb(241, 30, 65);
    color:white;
    border-radius: 10px;
    border : none;
    padding: 10px;
    margin-left: 20px;
}
.headermenu__menulogin:hover{
    background-color: white;
    color:rgb(241, 30, 65);
}
.headermenumobile__menulogin{
    background-color: rgb(241, 30, 65);
    color:white;
    border-radius: 10px;
    border : none;
    padding: 10px;
}
.headermenumobile__menulogin:hover{
    background-color: white;
    color:rgb(241, 30, 65);
}
.headermenu__menuitem{
    padding:10px;
    color:black;
    font-size: 15px;
    font-weight: bold;
    font-family: sans-serif;
}
.headermenu__menuicon:hover{
    color: rgb(241, 30, 65) !important;
    cursor: pointer !important;
}
.headermenu__menuitem:hover{
    color: rgb(241, 30, 65);
    cursor: pointer;
}
.headermenu__menubutton{
    display: none;
    border-radius: 10px;
    background-color: rgb(241, 30, 65);
    color: white;
    border:none;
    padding: 10px;
}
.headermenu__menubutton:hover{
    background-color:white;
    color:  rgb(241, 30, 65);
    padding: 15px;
}
.headermenumoblie__menuitems{
    display:none;
    background-color: rgb(243, 83, 110);
    list-style-type: none;
    padding:20px;
    transition: 2s ease-in;
}
.headermenumobile__menuitem{
    color:white;
    width:200px;
    padding:10px;
    text-align:center;
    border-radius:10px;
    margin-left:auto;
    margin-right:auto;
}
.headermenumobile__menuicon{
    color:white !important;
}
.headermenumobile__menuicon:hover{
    color:rgb(241, 30, 65) !important;
}
.headermenumobile__menuitem:hover{
    background-color:white;
    color:rgb(241, 30, 65) !important;
}
@media (max-width: 800px) {
    .headermenu__menuitems{
        display: none;
    }
    .headermenu__menuicon{
        font-size:large !important;
    }
    .headermenu__menubutton{
        display: block;
    }
    .headermenumoblie__menuitems{
        display: block;
    }
}